/* Declaring variables */
:root {
    --bone: #D9CFC1;
    --brown: #A77E58;
    --rust: #BA3F1D;
    --champagne: #EEE3AB;
    --blue:#80A1C1;
}

/* 
----------------------------------------------------------------------------------------
                        CSS Resets and Default values
    -Changes the font for the whole page to Gill Sans 
----------------------------------------------------------------------------------------
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 
-----------------------------------------------------------------------------------------
                        Styles the body of the page 
    -reset default margin
    -added background color
-----------------------------------------------------------------------------------------
*/
body{
    background-color: var(--bone);
}

/* 
------------------------------------------------------------------------------------------
                        Styling the header and its contents
------------------------------------------------------------------------------------------
*/
header{
    background-color: var(--rust);
    padding: 20px 0px;
}

header .card-info {
    width: 20%;
}

/* 
    
*/
.card-info h1 {
    font-size: 250%;
    float: right;
}

/* 
    
*/
header ul {
    padding: 20px;
    float: right;
}

/*

*/
li {
    display: inline-block;
    margin-left: 15px;
    font-size: 150%;
}

/* 
    
*/
li a {
    text-decoration: none;
    color:var(--blue);
    font-weight: bold;
    border-bottom: 3px solid var(--blue);
}
/* 
    
*/
ul {
    list-style: none;
}

/* 
------------------------------------------------------------------------------------------
                        Styling the Hero and its contents
------------------------------------------------------------------------------------------
*/

.hero {
    height: 300px;
    width: 100%;
    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

.hero h2 {
    border: none;
    text-align: right;
}

.hero .card-info {
    position: relative;
}

/* 
------------------------------------------------------------------------------------------
                        Main work grid container styling
                            (Main Contents of page)
------------------------------------------------------------------------------------------
*/

.grid-container h2 {
    color: var(--rust);
    display: inline-block;
    border-right: solid 3px var(--rust);
    margin: 0;
    padding-right: 20px;
    text-align:right;
    font-size: 175%;
}

.grid-container{
    display: grid;
    grid-template-columns: 20% 70% ;
    grid-gap: 20px;
}

/* 
------------------------------------------------------------------------------------------
                        Work container styling
                            (Grid within another grid item)
------------------------------------------------------------------------------------------
*/
.work-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "header header";
    grid-gap: 20px;
}

.project-1 {
    grid-area: header;
}


.card{
    border: 4px solid var(--blue);
}

.card-info {
    display: inline-block;
    background-color: var(--blue);
    padding: 10px;
    color:var(--rust);
}

.card .card-info{
    position: absolute;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*filter: sepia(100%) saturate(100%) brightness(100%) hue-rotate(180deg);*/
}

.card img:hover {

}


/* 
------------------------------------------------------------------------------------------
                        Contact Me
------------------------------------------------------------------------------------------
*/


.reach-me li {
    margin-left: 0;
    margin-right: 25px;
    font-size: 125%;
}

/* 
------------------------------------------------------------------------------------------
                        Media Query
                        
------------------------------------------------------------------------------------------
*/
@media screen {
    
}